PORT=3000
DATABASE_URL="mysql://luxia_user:Pabloexe2@172.16.4.48:3306/luxia"
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""
# Alternativa opcional:
# FIREBASE_SERVICE_ACCOUNT_JSON='{"type":"service_account",...}'
