DATABASE_URL="mysql://user:password@localhost:3306/luxia"
TRANSCRIPTION_SERVICE_URL="http://127.0.0.1:5000"
TRANSCRIPTION_TIMEOUT_MS="120000"
FIREBASE_SERVICE_ACCOUNT_JSON='{"type":"service_account"}'
AUTH_RATE_LIMIT_WINDOW_MS="900000"
AUTH_RATE_LIMIT_MAX="10"
LUX_RATE_LIMIT_WINDOW_MS="900000"
LUX_RATE_LIMIT_MAX="20"
